html {
    height: 100%;
    background:  #1b2735;
    overflow-y: scroll;
  }
  h1 {
    text-align: center;
    font-size: 25px;
    color: #eee;
    margin-bottom: 0;
  }
  *.folder
{
  text-align: center;
    float: left;
    height: fit-content;
    margin: 10px;
    background-color: #eeeeee18;
}
*.folder.quarter
{
  width: 23%;
}
*.folder.half
{
  width: 48%;
}
*.folder.full
{
  width: 98%;
}
.folder .header
{
  background-color: rgba(0, 0, 0, 0.250);
  color: #eee;
  text-align: center;
  font-size: 25px;
}
*.card
{
    float: inline-start;
    background-color: #2e0c55;
    color: #eee;
    padding: 20px;
    padding-left: 20px;
    font-size: large;
    text-align: left;
    margin: 5px;
}
*.card.interactive
{
   text-decoration: nome;
}
.card.interactive:hover
{
    cursor: pointer;
    background-color: #eee;
    color: #2e0c55;
}

*.textfield
{
  text-align: left;
  height: fit-content;
  background-color: #eee;
  color: black;
}
*.textfield.title
{
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  color: black;
  font-style: bold;
  font-size: 25px;
}
*.textfield.text
{
  color: black;
  font-style: normal;
  font-size: 15px;
  white-space: pre-wrap;
}

*.ng-valid.text
{
  text-align: left;
  width: 98%;
  height: 100px;
  color: black;
  font-style: normal;
  font-size: 15px;
  word-wrap: normal;
}

*.ng-valid.title
{
  text-align: center;
  width: 98%;
  height: 25px;
  color: black;
  font-style: normal;
  font-size: 20px;
  word-wrap: normal;
  overflow-y: scroll;
}


