<h1>{{activeUser.name}}'s Profile</h1>

<div class="folder quarter">
    <div class="header">User Data</div>
    <div class="card">{{activeUser.name}}</div>
    <div class="card">Email: {{activeUser.email}}</div>
    <div class="card">Phone Number: {{activeUser.phone}}</div>
</div>

<div class="folder quarter">
    <div class="header">Other Links</div>
</div>

<div class="folder full">
    <div class="header">Presentation Letter</div>
    <div class="card"> 
        <div class="textfield">
            <div class="textfield title"> Letter of  Pesentation <br></div>
            <div class="textfield text">
                <br> Hello, there!
                <br> You can use this component to tell everyone one a little about yourself!
            </div>
            
        </div>
    </div>
</div>