.language
{
   font-size: 25px;
   padding: 0px;
   margin: 0px;
}
.language img
{
   height: 50px;
   vertical-align: middle;
   padding: 0px;
   margin: 0px;
}
.project .name
{
   font-size: 30px;
   font-style: bold;
}
.project .desc
{
   font-size: 20px;
   font-style: italic;
}
a
{
   text-decoration: none;
   color: inherit;
}